


/* About Box */
.about-box {
  border: 2px solid #5b177a;
  padding: 25px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 15px;
  background: #faf5ff; /* very light purple */
  box-shadow: 0 6px 20px rgba(91, 23, 122, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-box h2 {
  text-align: center;
  color: #5b177a;
  font-family: 'Georgia', serif;
  margin-bottom: 15px;
}

.about-box p {
  line-height: 1.8;
  color: #444;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

/* Hover */
.about-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(91, 23, 122, 0.5);
}

/* Section */
.section {
  text-align: center;
  padding: 50px 20px;
}

.section h1 {
  color: #5b177a;
  font-size: 36px;
}

/* Table Box */
.table-box {
  display: inline-block;
  padding: 20px;
  border-radius: 15px;
  background: #681459;
  box-shadow: 0 0 15px rgba(91, 23, 122, 0.3);
}

/* Table */
table {
  border-collapse: collapse;
  width: 400px;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background: #5b177a;
  color: rgb(141, 18, 163);
}

td {
  background: #b6329e;
}

tr:nth-child(even) td {
  background: #efe0ff;
}

tr:hover td {
  background: #d4b3ff;
  color: black;
  transition: 0.3s;
}

/* Note */
.note {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}